<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt="" />
          </a>
          <div class="social-links mt-3">
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>Contact ons</h4>
          <ul>
            <li>
              Gent, BE <br />
              BE 0797 646 341
            </li>
            <li>+32 484 46 99 60</li>
            <li>
              <a href="mailto:Info@asbecerti.be">Info@asbecerti.be</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>Menu</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li>
              <a href="/over-ons/"> Over ons </a>
            </li>
            <li>
              <a href="/diensten">Diensten</a>
            </li>
            <li>
              <a href="/tarieven/">Tarieven</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>Alles wat u moet weten</h4>
          <ul>
            <li><a href="/">Aanvraag indienen</a></li>
            <li>
              <a href="/contact/">Contact</a>
            </li>
            <li>
              <a href="/privacy-policy">Privacy beleid</a>
            </li>
            <li>
              <a href="/algemene-voorwaarden/">Algemene voorwaarden</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">©2023 Asbecerti - Made with ♥</div>
  </div>
</footer>
